html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  padding: 20px;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
}

#message-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: scroll;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input {
  padding: 8px 12px;
  height: 44px;
  flex: 1;
  color: black;
  border: 1px solid #dedede;
  border-radius: 12px;
  background-color: white;
  box-sizing: border-box;
}

.button {
  margin: 0;
  padding: 12px 16px;
  color: white;
  border: none;
  border-radius: 12px;
  background-color: #3f6fff;
}

.message {
  width: fit-content;
  max-width: 360px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}

.message p {
  margin: 0;
  padding: 8px 12px;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  background-color: #3f6fff;
}

.message:hover .icon {
  opacity: 1;
}

.icon {
  color: #c0c0c0;
  opacity: 0;
  cursor: pointer;
}

#back-drop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000029;
}

#del-modal {
  min-width: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: white;
}

#del-modal p {
  margin: 0;
  color: black;
  background-color: white;
}

#del-modal div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#del-modal button {
  margin: 0;
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 12px;
}

.active {
  background-color: #3f6fff;
}
.active:hover {
  background-color: #1c46c3;
}

.deactive {
  background-color: #c0c0c0;
}
.deactive:hover {
  background-color: #a0a0a0;
}